include README.rst
include CHANGELOG.rst
include LICENSE.txt

recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude docs *.rst *.py Makefile make.bat

recursive-include bin *
